.daysList{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

    &__weekRow{
        margin-bottom: 40px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__row{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &-day{
        cursor: pointer;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
    }

    &-holiday{
        cursor: pointer;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px gray;
        background-color: rgba($color: #dd4141, $alpha: 0.6);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
    }
}

.week{

    &__scroller{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    &-element{
        height: 20px;
        width: 20px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    &-active{
        height: 20px;
        width: 20px;
        border-radius: 5px;
        background-color: #38c94d;
    }

    &-plus{
        display: flex;
        align-items: center;
        background-color: white;
    }

    &-minus{
        display: flex;
        align-items: center;
        background-color: white;
    }
}

.day{

    &-number{
        font-size: 54px;
        line-height: 54px;
    }

    &__count{
        display: flex;
        align-items: center;
        gap: 10px;

    }
}

.day:hover{
    scale: 1.03;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba($color: #38c94d, $alpha: 0.5);
}

.day:not(:hover){
    scale: 1;
    transition: 0.3s;
    box-shadow: 2px 2px 5px gray;
}

.modal{

    &__info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button{
            background-color: white;
        }
    }

    &-date{
        font-size: 24px;
        line-height: 25px;
    }

    &-separator{
        height: 1px;
        width: 100%;
        background-color: gray;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__tasks{
        width: 100%;
    }
}

